@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Album Information:";
}

<h1>Album Details</h1>

<form action="/" method="post">

    Title: @Model.Title<br />
    Artist: @Model.Artist.Name<br />
    Bio: @Model.Artist.Bio<br />
    Genre: @Model.Genre.Name<br />
    Price: @Model.Price<br />
    Like: @Model.Like<br />

</form>

<h2>You might also Like these albums:</h2>

<span class="glyphicon glyphicon-alert"></span> @ViewData["readAlbum"]


<form action="/Albums/Details" method="get">
    <br/>

    <button class="btn btn-info">Go back</button>

</form>